<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://logging.apache.org/log4j/2.0/config"
       status="OFF" packages="com.prokarma">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyyMMdd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>		   
		</Console>
	</Appenders>
	<Socket name="socket" host="127.0.0.1" port="15000">
		<PatternLayout pattern="%d{yyyyMMdd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %spi%n"  />
	</Socket>
	<loggers>
		 
		<Logger name="com.prokarma" level="all" /> 
		<root level="all">
			<appender-ref ref="STDOUT" level="info" />
		</root>
		<Logger name="splunk.logger" level="info">
            <AppenderRef ref="socket"/>
            <AppenderRef ref="http-input"/>
        </Logger>
	</loggers>
</configuration>